<!DOCTYPE html>
<html>
<head>
    <title>Portfólio</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/projetos">Projetos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Bem-vindo a minha biografia profissional espero que encontre o que procure.!</h1>
            <p>Aqui você encontrará informações sobre meus projetos e habilidades, também ressalto pontos que estou procurando me aprimorar.</p>
            <p>Faça uma boa leitura e analise com bastante cautela....</p>
            <!-- Adicionei uma classe específica para esta imagem -->
            <img class="imagem-index" src="static/img/andre.jpg" alt="Projeto 1">
        </section>
    </main>
</body>
</html>
